.gallery {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 50px;

  padding: 50px;

  background-color: #f6f6f6;

  border-radius: 25px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;

    gap: 20px;

    padding: 0;

    background-color: transparent;

    border-radius: 0;
  }
}